@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Ropa+Sans:ital@0;1&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --main-color: #033a80;
    --bg-color: #fff;
    --text-color: #0f0c27;
    --hover: hsl(260, 100%, 51%);
    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941rem;
}

div {
    display: block;
}

body {
    background-color: #686262;
    font-family: 'Ropa Sans', sans-serif;
}

header {
    margin-bottom: 60px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
   
  }
  
  .navbar .logo a {
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
    list-style-type: none;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
 
  
  .navbar-toggler {
    display: none;
    cursor: pointer;
  }
  
  .navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #e4d9d9;
    margin-bottom: 5px;
    transition: all 0.3s ease-in;
  }

  .nav-links a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    position: relative; /* Add position relative */
  }
  
  
  .nav-links a:hover::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Adjust the distance of the underline from the text */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #b2ff33;
  }
  

  
  @media (max-width: 768px) {
    .navbar .logo {
      flex-grow: 1;
    }
  
    .navbar-toggler {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }
  
    .navbar-toggler span {
      margin-bottom: 3px;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 10px;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }

  
  




.main {
    border: none;
    width: 88%;
    height: 33rem;
    margin: auto;
    display: flex;
    background: transparent;
    justify-content: space-between;
}

hr {
    width: 8rem;
    margin: 0 0 35px;
    border: 5px solid #b2ff33;
}

.para-container {
    margin: 30px 0;
    padding: 0;
    display: block;
    border: none;
    border-radius: 5px;
    width: 650px;
    height: 29rem;
    color: #f4f4f4;
    background-color: transparent;
    /* Color Transparent */
}

.para-container .bio {
    margin-top: 0px;
    margin-bottom: 27px;
    color: #fff;
    font-size: 66px;
    line-height: 1.182em;
    font-weight: 700;
}

.para-container .desc {
    color: #ddd;
    font-size: 20px;
    margin: 0 0 41px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.circle-background {
    position: relative;
    width: 480px;
    height: 480px;
    border-radius: 50%;
    box-shadow: rgba(178, 255, 51, 1) 0px 1px 0px, rgba(178, 255, 51, 1) 0px 8px 24px, rgba(178, 255, 51, 1) 0px 16px 48px;
    background-color: #b2ff33;
    overflow: hidden;
}


.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.about-img img {
  max-width: 100%;
  height: 100vh;
  border-radius: 0.5rem;
  position: relative;
  bottom: 135px;
  animation: slideIn 0.5s ease-in-out infinite alternate;
}

@keyframes slideIn {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(10px);
  }
}

.heading-about h2 {
  color:#b2ff33;
  margin-right:25px;
  
}



.about-text p {
  font-size: x-large;
  font-weight: 400;
  text-align: justify;
  color: white;
}

.information {
  margin: 1rem 0 1.4rem;
  color: white;
}

.information .info-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}

.information .info-box .bx {
  font-size: 22px;
}

.information .info-box span {
  font-weight: 400;
  margin-left: 1rem;
}

.btn {
  display: inline-block;
  background-color: #b2ff33;
  color: black;
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
}


.btn:hover {
    background: var(--hover);
}

.contact-form {
    display: grid;
    place-items: center;
    margin-top: 2rem;

}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 650px;
}

form input,
textarea {
    padding: 15px;
    border-radius: 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: hsla(261, 16%, 79%, 0.1);
    margin-bottom: 1rem;
    color: var(--text-color);
}

form input::placeholder,
textarea::placeholder {
    color: var(--text-color);
    color: white;
}

form textarea {
    resize: none;
    height: 200px;
}

.contact-button {
    width: 160px;
    cursor: pointer;
    background: #b2ff33;
    color: #020202;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 35%;
}

.contact-title {
    color: white;
    margin-left: 450px;
}

.skills-img {
    max-width: 10px;
    height: 10px;

}

.heading-about {
    color: white;
    margin-left: 710px;
}

.heading-skills {
    color: white;
    margin-left: 710px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    width: 100%;
    height: 100vh;
    max-width: 1000px;
    margin-left: 190px;
    position: relative;
    bottom:80px
   
}

.bars-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
    transition: transform 0.3s ease-in-out;
}

.bars-box:hover {
    transform: scale(1.1);
}

.bars-box h3,
span {
    font-size: 1.1rem;
    font-weight: 500;
}

.light-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background: #b2ff33;
    border-radius: 0.5rem;
}

.percent-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.5rem;
    background: var(--main-color);
    border-radius: 0.5rem;
}

.html-bar {
    width: 94%;
}

.css-bar {
    width: 84%;
}

.js-bar {
    width: 94%;
}

.react-bar {
    width: 80%;
}

.node-bar {
    width: 80%;
}

.mongodb-bar {
    width: 80%;
}

.heading-skills {
    text-align: center;
    margin-bottom: 3rem;
}

.heading-skills h2 {
    font-size: 3rem;
}

.skills-img {
    background-image: url("Assests/newwy.png");
    color: transparent;
    background-size: cover;
    background-position: center;
    height: 550px;
    width: 100%;
    max-width: 550px;
    margin-left: 60px;
    margin-right: 0;
    transition: transform 0.3s ease-in-out;
}

.skills-img:hover {
    transform: scale(1.1);
}

.home-title {
    font-size: 3rem;
}

@media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    .navbar .logo a {
      font-size: 24px;
    }
  
    .main {
      flex-direction: column;
      height: auto;
    }
  
    .para-container {
      width: 100%;
    }
  
    .about-container {
      grid-template-columns: 1fr;
    }
  
    .about-img img {
      width: 100%;
    }
  
    .about-text {
      margin-top: 1rem;
    }
  
    .information {
      margin: 0.5rem 0 0.7rem;
    }
  
    .skills-container {
      grid-template-columns: 1fr;
      align-items: flex-start;
      margin-left: 0;
      bottom: initial;
      
    }
  
    .skills-img {
      margin-left: 0;
      margin-bottom: 1rem;
      max-width: 100%;
      height: auto;
    }
  
    .heading-about,
    .heading-skills {
      margin-left: 0;
    }
  }
  
  .contact-input{
    cursor: pointer;
    background-color: #b2ff33;
  }



  